:root {
     --mainFont : 'Krub', sans-serif;
     --white: #ffffff;
     --primary: #FFC107;
     --secondary: #0097A7;
     --gray : #757575;
     --dark : #212121;
}
html {
     box-sizing: border-box;
     min-height: 100%;
}
*, *:before, *:after {
     box-sizing: inherit;
}
body {
     font-family: var(--mainFont);
     min-height: 100%;
     background: linear-gradient(to top, #dfe9f3 0%, white 100%);
     /* background: linear-gradient(to top, lightblue 0%, white 100%); */
}


.button {
     background-color: var(--secondary);
     padding: .5rem 3rem;
     border-radius: 5px;
     display: inline-block;
     margin-top: .5rem;
     font-weight: 700;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 1.2rem;
     border: none;
     color: var(--white);
     transition: background-color .3s ease;
     cursor: pointer;
}
.button:hover {
    background-color: rgb(1, 123, 136);
}

.container {
     margin: 1rem auto 1rem auto;
     /* margin: auto; */
     max-width: 1200px;
     max-width: 95%;
     padding: 2rem;
     background-color: var(--white);
     -webkit-box-shadow: 0px 4px 12px -1px rgba(0,0,0,0.45);
     -moz-box-shadow: 0px 4px 12px -1px rgba(0,0,0,0.45);
     box-shadow: 0px 4px 12px -1px rgba(0,0,0,0.45);
     border-radius: 1rem;
}
h2, h3 {
     text-align: center;
}
h3 {
     color: var(--secondary);
     font-weight: 400;
     font-size: 1.6rem;
}
p {
     line-height: 2;
}

.main-navigation {
     max-width: 1200px;
     margin: 0 auto;
     padding: 1rem 0;

     display: flex;
     flex-direction: column;
     align-items: center;
}
@media (min-width:768px) {
     .main-navigation {
          flex-direction: row;
          justify-content: space-between;
     }
}

.main-navigation a {
     color: var(--dark);
     text-decoration: none;
     font-size: 1.4rem;
     margin-bottom: 1.4rem;
}
@media (min-width:768px) {
     .main-navigation a{
          margin-bottom: 0;
     }
}

.hero {
     /* custom height */
     /* height: 550px; */

     /* what makes pic fit content */
     height: 100vh;
     background-size: cover;
     background-position: center;


     background-image: url(../img/hero.jpg) ;
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center; 
}

.hero::after {
     content: '';
     background-color: rgba(9, 44, 70, 0.7);
     display: block;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     position: absolute;
}

.hero-content {
     color: var(--white);
     position: relative;
     z-index: 1;
     text-align: center;
}
.hero-content i {
     font-size: 3rem;
     color: var(--primary);
}

@media (min-width:768px) {
     .services-container {
          display: flex;
          justify-content: space-between;
     }
     .service {
          flex: 0 0 calc(33.3% - 1rem);
     }
     .service2 {
          flex: 0 0 calc(33.3% - 1rem);
     }
}


.service {
     display: flex;
     flex-direction: column;
     align-items: center;
}
.icons {
     height: 100px;
     width: 100px;
     display: flex;
     background-color: var(--primary);
     border-radius: 50%;
     align-items: center;
     justify-content: space-evenly;
}
.icons i {
     font-size: 2rem;
}


form {
     background-color: var(--gray);
     padding: 2rem;
     border-radius: 1rem;
}

/* footer css */
.container2 {  
     color: var(--white);
     background-color: #333;
     padding: 4rem 0;
}

.my-footer {
     line-height: 1.2;
     margin: 1rem auto 1rem auto;
     max-width: 1200px;
     max-width: 100%;
     padding: 2rem;
     color: white;
     background-color: #333;
     -webkit-box-shadow: 0px 4px 12px -1px rgba(0,0,0,0.45);
     -moz-box-shadow: 0px 4px 12px -1px rgba(0,0,0,0.45);
     box-shadow: 0px 4px 12px -1px rgba(0,0,0,0.45);
     border-radius: 1rem;
}

.icons2 {
     height: 100px;
     width: 100px;
     display: flex;
     background-color: #333;
     color: #555;
     border-radius: 50%;
     align-items: center;
     justify-content: space-evenly;
}
.icons2 i {
     font-size: 2.5rem;
     margin-right: 1rem;
}

.service2 {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.alignleft {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
}

.main-heading {
     /* font-weight: bold; */
     font-size: 4rem;
     color: #fff;
     max-width: 860px;
     padding: 2rem 0;
}
.sub-heading {
     font-weight: bold;
     font-size: 1.7rem;
     color: #fff;
     max-width: 860px;
     padding: 1rem 0;
     /* color: red; */
}


/* GALLERY */
.section-c .gallery {
     display: grid;
     grid-template-columns: repeat(5, 1fr);
   }
   .section-c .gallery a:first-child {
     /* grid-row-start: 1;
     grid-row-end: 3; */
     grid-row: 1/3;
     grid-column: 1/3;
   }
   
   .section-c .gallery a:nth-child(2) {
     grid-column-start: 3;
     grid-column-end: 5;
   }
   
   .section-c .gallery img,
   .section-c .gallery a {
     width: 100%;
     height: 100%;
   }

   /* SVG Animation */
   
#logo-svg {
     /* position: absolute; */
     /* top: 50%; */
     /* left: 50%; */
     /* transform: translate(-50%, -50%); */
     /* animation: fill 1s ease forwards 3s; */
     animation: fill 3s ease forwards 3s;
   }
   
   
   #logo-svg path:nth-child(2) {
     stroke-dasharray: 10453;
     stroke-dashoffset: 10453;
     /* animation: line-anim 22s ease forwards; */
     animation: line-anim 22s ease forwards;
   }
   
   @keyframes line-anim {
     to {
       stroke-dashoffset: 0;
      
     }
   }
   @keyframes fill {
     from {
       fill: transparent;
     }
     to {
       /* fill: rgb(189, 44, 44); */
       fill: red;
     }
   }
   